.DS_Store
.tsbuildinfo
out
node_modules
client/server
*.interp
*.tokens
*.vsix
server/src/instrument/raw-tsb-help/*/
npm-debug.log
coverage/
.nyc_output/
.antlr/
*.lua
!server/grammar/antlr4-sandbox.lua
