**/*.ts
**/*.map
**/mocha.opts
**/tsconfig.json
.github/**
.nyc_output/**
.vscode/**
client/out/test/**
client/src/**
coverage/**
node_modules/**
server/grammar/**
server/out/test/**
server/src/**
utils/**
.codecov.yml
.gitattributes
.gitignore
.nycrc.json
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tslint.json