**/*.g4
**/*.map
**/*.ts
**/mocha.opts
**/tsconfig.json
.github/**
.nyc_output/**
.vscode/**
client/out/test/**
client/src/**
coverage/**
node_modules/**
server/antlr4-tsplang/out/test/**
server/antlr4-tsplang/src/**
server/antlr4-tsplang/scripts/**
server/out/test/**
server/src/**
utils/**
.codecov.yml
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.nycrc.json
.prettierrc.json
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
